@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Quicksand', sans-serif;
    background-image: url('/rr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

h1{
    @apply text-4xl;
}

h2{
    @apply text-3xl;
}

h3{
    @apply text-2xl;
}

h4{
    @apply text-xl;
}

p{
    @apply text-xl;
}

.lien{
    @apply text-5xl font-medium block;
}

.texteGlou{
    @apply text-mauve;
}

.articleTheme h2{
    @apply font-medium leading-loose tracking-wider;
}

.articleTheme p{
    @apply prose prose-xl text-zinc-500 font-medium;
}

.articleTheme kbd{
    @apply bg-slate-50 rounded-lg px-2 py-1 border-2 border-gray-200 shadow;
}

.articleTheme ul{
    @apply list-disc pl-10 prose prose-lg m-5 font-medium;
}