@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Quicksand', sans-serif;
    background-image: url('/rr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

h1{
    @apply text-4xl;
}

h2{
    @apply text-3xl;
}

h3{
    @apply text-2xl;
}

h4{
    @apply text-xl;
}

p{
    @apply text-xl;
}

.lien{
    @apply text-5xl font-medium block;
}

.texteGlou{
    @apply text-mauve;
}